<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('homebp.static' , filename='css/homes.css') }}">
    <title>Home Page</title>
    <h1>HOME PAGE</h1>
</head>
<body>
    <section>
        <div class="row">
            <p> Welcome :</p> {{ uname }}<br>
            <p> Your Phone Number :</p> {{ phno }}<br>
            <p> Your Email ID :</p> {{ emai }}<br>
            <button onclick="location.href='logout';" onmouseover="this.style.backgroundColor = 'red';" onmouseout="this.style.backgroundColor = 'white';">LOGOUT</button>
        </div>
    </section>
    
    
</body>
</html>